body {
    text-align: center;
    background-color: black;
    color: bisque;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ffffff;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabecera{
    background-color: red;
}